.filters-container {
  display: flex;
  align-items: center;
  // width: 179px;
  // border: 1px solid black;
  label {
    font-size: 14px;
    font-weight: 600;
  }
  .first-label {
    margin-right: 30px;
  }
}
