.header {
  @include flexbox(row, center, center);
  height: 144px;
  background-color: #fff;
  padding: 0 56px 0 56px;

  .content-container {
    @include flexbox(row, space-between, center);
    width: 1224px;
    .logo-menu-container {
      .menu-mobile {
        display: none;
      }
    }
    .avatar {
      border-radius: 50%;
    }
    .login-button {
      text-transform: lowercase;

      span {
        text-transform: uppercase;
      }
    }

    .spacer {
      flex-grow: 1;
    }
  }

  @media (max-width: 992px) {
    height: 200px;
    .content-container {
      @include flexbox(column, space-evenly, center);
      .logo-menu-container {
        @include flexbox(row, space-between, center);
        margin: 24px 0px 24px 0px;
        width: 100%;
        .menu-mobile {
          display: block;
        }
      }

      .menu-desktop {
        display: none;
      }
      .spacer {
        flex-grow: 0;
      }
    }
  }
  @media (max-width: 768px) {
    height: 248px;
    width: 100%;
    padding: 0;
    .content-container {
      width: 327px;
      .logo-menu-container {
        margin: 15px 0 28px 0;
      }
    }
  }
}
