.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 144px;
  background-color: #fff;
  .content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1224px;
    .login-button {
      text-transform: lowercase;

      span {
        text-transform: uppercase;
      }
    }
  }
}
