// style={{ cursor: 'pointer', marginRight: '105px' }}
.logo-svg {
  cursor: pointer;
  margin-right: 105px;
  @media (max-width: 1263px) {
    margin-right: 50px;
  }
  @media (max-width: 768px) {
    margin-right: 0;
  }
}
