.pagination-container {
  margin: auto auto 0 auto;

  &.loading {
    pointer-events: none;
  }
  .pagination {
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    &.ellipsis {
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
      color: #2140e8;
    }
  }

  button {
    border: none;
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    font-size: 14px;
    &:hover {
      cursor: pointer;
      color: #2140e8;
    }
    &.disabled {
      pointer-events: none;
    }
  }

  @media (max-width: 768px) {
    .pagination {
      padding: 4px;
      margin: 3px;
    }
    button {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
}
