.products-page {
  @include flexbox(column);
  width: 1224px;
  margin: 0 auto;
  flex-grow: 1;
  // border: 5px solid red;
  .products {
    @include flexbox(row, space-between);
    flex-wrap: wrap;
  }
}
