.products-page {
  @include flexbox(column, space-evenly, center);
  width: 1224px;
  margin: 0 auto;
  flex-grow: 1;
  .products {
    @include flexbox(row, space-between, center);
    flex-wrap: wrap;
  }
}
