.search-input-container {
  @include flexbox(row, initial, center);
  width: 392px;
  border: 1px solid #e0e2ea;
  margin-right: 24px;
  margin-bottom: 10px;
  .input-base {
    margin-left: 12px;
    font-size: 14px;
    font-family: Nunito, sans-serif;
    font-weight: 600;
    flex: 1;
  }
  @media (max-width: 992px) {
    // margin: 24px 0px 24px 0px;
  }
  @media (max-width: 768px) {
    width: 100%;
    margin: 24px 0px 24px 0px;
  }
}

// sx={{
//     ml: 1,
//     flex: 1,
//     fontSize: '14px',
//     fontStyle: 'normal',
//     input: {
//       color: '#1A1B1D',
//       '&::placeholder': {
//         opacity: 1,
//       },
//     },
//   }}
