@import './scss/utilities/mixins', './scss/partials/layout', './scss/partials/header', './scss/partials/searchbar',
  './scss/partials/products', './scss/partials/filters', './scss/partials/pagination', './scss/partials/DetailsModal';
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito Sans', sans-serif;
}
